/* You can add global styles to this file, and also import other style files */
.fill{
    flex: 1 1 auto;
}
.logo{
    margin-right: 15px;
}


/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 8px 24px 12px;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
  }
  
  .example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
  }

  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .navbar-element{
    font-weight: 400;
    margin-right: 10px;
  }

  .navbar-element a{
    color:#E6E9F6;
    transition: color 0.5s ease;
  }

  .navbar-element a:hover{
    color:rgba(230, 233, 246, 0.644) !important;
  }