<div>
    <div class="example-header">
        <mat-form-field class="input-space" floatPlaceholder="never">
            <input autocomplete="off" [(ngModel)]="searchText" matInput placeholder="Filter by name">
        </mat-form-field>
    </div>
    <div class="example-header">
        <mat-form-field class="input-space" floatPlaceholder="never">
            <input autocomplete="off" [(ngModel)]="sensorsIds" matInput placeholder="[Ids] : format: [7,11]">
        </mat-form-field>
        <a class="btn btn-primary" (click)="streamSensors()">Stream Sensors</a>
        <a class="btn btn-primary" (click)="streamAllSensors()">StreamAllSensors</a>
    </div>

    <div class="example-container mat-elevation-z8">            
    <table id="sensorsTable" class="table">
        <thead>
            <tr>
                <th>SensorName</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of datas | search : searchText">
            <td>{{data.name}}</td>
            <td>{{data.value}}</td> 
        </tr>
        </tbody>
    </table>
    </div>
</div>
